// font family
// ----------------- Roboto --------------

@font-face {
  font-family: "Roboto";
  src:
    url("fonts/Roboto-Light.woff2") format("woff2"),
    url("fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("fonts/Roboto-Bold.woff2") format("woff2"),
    url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("fonts/Roboto-Medium.woff2") format("woff2"),
    url("fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
// ----------------- Inter------------------------
@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter-Bold.woff2") format("woff2"),
    url("fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter-Medium.woff2") format("woff2"),
    url("fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter-Light.woff2") format("woff2"),
    url("fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter-SemiBold.woff2") format("woff2"),
    url("fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter-Regular.woff2") format("woff2"),
    url("fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// -----------------------------------------------
html {
  // default browser: 16px;
  // 10px -> rem: phụ thuộc vào font-size của HTML
  // 1.2rem => 12px
  // 1.1rem => 11px
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter";
  font-weight: normal;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
// img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// ---------- Dot Carousel-------------------------------------

.slick-slider ul.slick-dots {
  justify-content: right;
  bottom: 2rem;
  right: 20rem;
  gap: 1rem;
}
.slick-dots li button {
  opacity: 0 !important;
}
.slick-dots li {
  background-color: white;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.13);
  margin: 2rem;
}
li.slick-active {
  background-color: chocolate;
}
// ---------- Carts -------------------------------------

.title {
  font-size: 4rem;
  font-weight: 400;
  margin: 5rem 0rem;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .cart .shoeID {
    display: none;
  }
  .cart .btn-dark {
    font-size: 12px;
    padding: 4px 8px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .cart .btn-dark {
    font-size: 13px;
    padding: 2px 8px;
  }
  .cart .shoeSize,
  .cart .select,
  .cart .quantity {
    padding: 12px 5px;
  }
  .cart .total,
  .cart .shoeID,
  .cart .shoePrice {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .cart .btn-danger,
  .cart .btn-dark {
    font-size: 11px;
    padding: 2px 4px;
  }
  .cart .shoeName,
  .cart .shoeSize,
  .cart .select,
  .cart .quantity {
    padding: 12px 5px;
  }
  .cart .shoeName,
  .cart .total,
  .cart .shoeID,
  .cart .shoePrice {
    display: none;
  }
}
@media only screen and (max-width: 424px) {
  .cart .table-list .btn-danger,
  .cart .table-list .btn-dark {
    font-size: 11px;
    padding: 2px 4px;
  }
  .cart .table-list .shoeName,
  .cart .table-list .shoeSize,
  .cart .table-list .select,
  .cart .table-list .quantity {
    padding: 12px 5px;
  }
  .cart .shoeName,
  .cart .total,
  .cart .shoeID,
  .cart .shoePrice {
    display: none;
  }
}

table .check{
  height: 2rem;
  vertical-align: middle;

}
.table-list .check,
.table-list .shoeID,
.table-list .shoeIMG,
.table-list .shoeName,
.table-list .shoePrice,
.table-list .quantity,
.table-list .total {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  vertical-align: middle;
}

.table-list .shoeIMG img {
  max-width: 25rem;
  max-height: 15rem;
}

.table-list .quantity span {
  padding: 0 5px;
}
.table-list .total {
  font-size: large;
  font-weight: bolder;
}
.table-list .select {
  vertical-align: middle;
}

.table-list .select .btn {
  font-size: 15px;
  margin: 0 1rem;
  padding: 0.6rem 0.8rem;
  color: white;
}
.cart .btn-dark,
.table-list .select .btn-info {
  background-color: #6200ee;
  width: 50px;
  height: 35px;
}
.table-list .select .btn-danger {
  background-color: #eb5757;
  width: 80px;
  height: 35px;
}
.table-list .btn {
  box-shadow: 0px 8px 10px 0px #00000024;
  border: none;
}

.cart .btn-dark {
  font-size: 12px;
  padding: 5px 10px;
  transition: 0.5s;
  width: 35px;
  height: 30px;
}
.cart .btn-dark:hover {
  opacity: 0.5;
}
.cart .btn-submit {
  background-color: #f2994a;
  color: white;
  font-weight: 500;
  font-size: 22px;
  padding: 6px 15px;
}
.myCardFooter .payment {
  font-weight: 700;
  font-size: 25px;
}
.myCardFooter .payment .total-price {
  color: rgba(255, 0, 0, 0.8);
}
input {
  width: 100%;
  height: 4rem;
  padding: 16px 12px 14px 14px;
  border-radius: 4px 4px;
}
