.card {
  max-width: 34rem;
  min-height: 37rem;
  background-color: #f8f8f8;
  box-shadow: 0 0.4rem 0.4rem 0 #00000040;

  // TODO
  display: flex;
  flex-direction: column;
}

.img {
  max-width: 21rem;
  max-height: 17rem;

  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 0 2rem;
  padding-top: 1rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 300;
  text-align: left;
  color: #000000;
}

.desc {
  font-size: 2rem;
  font-weight: 300;
  color: #cbc9c9;
}

.action {
  height: 6.5rem;
  display: flex;
  align-items: center;

  // TODO
  margin-top: auto;
}

.action-buy,
.action-price {
  text-align: center;

  width: 100%;
  height: 100%;
  line-height: 6.4rem;

  color: #000000;
  font-size: 2.4rem;
}

.action-buy {
  background-color: #9de167;
}

.action-price {
  background-color: #dedddc;
  font-weight: 600;
}
.title:hover {
  color: chocolate;
  font-weight: 400;
}
.action-price:hover{
  color: crimson;
}

.action-buy:hover{
  background-color: chocolate;
}