.footer-about {
  padding: 10rem 0 3rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: relative;
  z-index: 1;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  a {
    color: black;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  a:hover {
    color: chocolate;
  }
  .help,
  .support,
  .register {
    display: flex;
    flex-direction: column;
  }
  .register,
  .support {
    padding-left: 6rem;
    border-left: 1px solid #dedddc;
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 7.4rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: #d9d9d9;
  p {
    margin-bottom: 0;
  }
}
